extends base.pug

block content 
    h4 Change title of #{video.title}
    form(method = "post")
        input(
            name = "Title",
            placeholer = "Video Title", 
            value = `${video.title}`,
            required
        )
        input(value = "save", type = "submit")