extends base.pug

block content 
    h4 Change title of #{video.title}
    form(method = "post")
        input(
            name = "Title",
            placeholer = "Video Title", 
            value = video.title,
            required
        )
        input(
            name = "description",
            placeholder = "description",
            required,
            type = "text",
            minLength = "3"
            value = video.description
        )
        input(
            name = "hashtags",
            placeholder = "hashtags nope comma",
            type = "text",
            value = video.hashTags.join()
        )
        input(value = "save", type = "submit")